@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .app-top-lvl {
    @apply bg-white text-gray-900 dark:bg-black dark:text-gray-100;
  }

  body,
  html {
    @apply overflow-hidden bg-white dark:min-h-screen dark:bg-black;
  }

  ::selection {
    @apply bg-indigo-500 text-white;
  }

  .btn {
    @apply inline-block whitespace-nowrap rounded-lg bg-indigo-500 px-5 py-3 text-sm font-semibold capitalize tracking-wider text-white shadow-lg transition duration-300 hover:bg-indigo-600 focus:outline-none focus:ring-4 focus:ring-indigo-500 focus:ring-opacity-50 sm:text-xl;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(10%);
    opacity: 0%;
  }
  100% {
    transform: translateY(0);
    opacity: 100%;
  }
}

.hero-details {
  animation: slideInFromBottom 0.75s ease-in-out;
}

.about-details {
  animation: slideInFromBottom 0.75s ease-in-out;
}

.blog-details {
  animation: slideInFromBottom 0.75s ease-in-out;
}

.contact-me {
  animation: slideInFromBottom 0.75s ease-in-out;
}

.action-outline-btn:hover {
  transition: 0.3s;
}

/* arrow animate side to side */

@keyframes arrow {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

.my-work-arrow:hover {
  animation: arrow 1s ease-in-out infinite;
}
